body {
    background: url('../img/background.png');
}

.title {
    font-size: 40px;
    text-align: center;
}

.icon {
    display: block;
    margin: 10px auto;
}

.btn {
    border-radius: 5px;
    width: 350px;
    height: 50px;
    border: none;
    padding: 4px;
    background-color: yellow;
    font-size: 20px;

}
